@{
    ViewBag.Title = "Home Page";
}

    <nav class="col-sm-auto col-md-auto d-none d-lg-block bg-light sidebar">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="#">Overview <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Reports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Analytics</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Export</a>
            </li>
        </ul>

        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Nav item</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Nav item again</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">One more nav</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Another nav item</a>
            </li>
        </ul>

        <ul class="nav nav-pills flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#">Nav item again</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">One more nav</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Another nav item</a>
            </li>
        </ul>
    </nav>
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
        <h1>Dashboard</h1>
        <div class="card gedf-card">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="mr-2">
                            <img class="rounded-circle" width="45" src="https://picsum.photos/50/50" alt="">
                        </div>
                        <div class="ml-2">
                            <div class="h5 m-0">Lee Cross</div>
                            <div class="h7 text-muted">Miracles Lee Cross</div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="card-body">
                <div class="text-muted h7 mb-2"> <i class="fa fa-clock-o"></i>10 min ago</div>
                <a class="card-link" href="#">
                    <h5 class="card-title">Lorem ipsum dolor sit amet, consectetur adip.</h5>
                </a>

                <p class="card-text">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo recusandae nulla rem eos ipsa praesentium esse magnam nemo dolor
                    sequi fuga quia quaerat cum, obcaecati hic, molestias minima iste voluptates.
                </p>
            </div>
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Web Application</p>
        </footer>
    </main>