
@{
    ViewBag.Title = "AddNewPost";
}


<main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3">
    <div class="d-flex justify-content-center align-items-center" id="main">
        <h1 class="mr-3 pr-3 align-top border-right inline-block align-content-center">404</h1>
        <div class="inline-block align-middle">
            <h2 class="font-weight-normal lead" id="desc">The page you requested was not found.</h2>
            <h2 class="font-weight-normal lead" id="desc">@ViewBag.Message</h2>
        </div>
    </div>
    <footer>
        <p>&copy; @DateTime.Now.Year - Web Application</p>
    </footer>
</main>